<div class="presentation-details">
  <% if @details.title %>
  <h3><%= @details.title %></h3>
  <% end %>
  <dl>
    <% @details.fields.each do |field| %>
      <dt><%= field.name %></dt>
      <dd><%= present(field.value_from(@details.presentable), :raw => !field.sanitize?) %></dd>
    <% end %>
  </dl>
</div>
