<div class="presentation-search">
  <% form_tag @search.url, :method => :get do %>
    <% @search.fields.each do |field| %>
      <fieldset>
        <label><%= field.name %></label>
        <%= present(field, "#{field.type}_search", :name => "search[#{field.param}][value]") %>
      </fieldset>
    <% end %>
    <input type="submit" value="Search" class="submit" />
    <%= link_to 'reset', @search.url %>
  <% end %>
</div>
