<div class="presentation-search">
  <% form_tag @search.url, :method => :get, :class => ("compact" if @search.compact) do %>
    <% @search.fields.each do |field| %>
      <fieldset>
        <label><%= field.name %></label>
        <%= present(field, "#{field.type}_search", :name => "search[#{field.param}][value]") %>
      </fieldset>
    <% end %>
    <fieldset class="submit">
      <input type="submit" value="Search" class="submit" />
      <%= link_to 'reset', @search.url %>
    </fieldset>
  <% end %>
</div>
