<div class="presentation-search">
  <% form_tag params.except(:search), :method => :get do %>
    <% @search.fields.each do |field| %>
      <fieldset>
        <label><%= field.name %></label>
        <%= text_field_tag "search[#{field.param}][value]", (params[:search][field.param][:value] rescue '') %>
      </fieldset>
    <% end %>
    <input type="submit" value="Search" />
  <% end %>
</div>
