<% form_for @form.presentable, :url => @form.url, :method => @form.method do |f| %>
  <% @form.groups.each do |group| %>
    <fieldset>
      <% unless group.name.blank? %>
        <legend><%= group.name %></legend>
      <% end %>
      <% group.fields.each do |field| %>
        <div class="field">
          <%= f.label field.name, field.label %>
          <%= f.present(field) %>
        </div>
      <% end %>
    </fieldset>
  <% end %>
  <%= f.submit @form.button %>
<% end %>
