<div id="<%= @grid.id %>">
  <div class="title"><%= @grid.title %></div>
  <table>
    <thead>
      <!-- column headers -->
    </thead>
    <tbody>
    
    </tbody>
    <tfoot>
      <!-- pagination -->
    </tfoot>
  </table>
</div>
