/** cellspacing **/
.presentation-grid table,
.presentation-grid td,
.presentation-grid th {
  border: 0;
  border-collapse: collapse;
}

.presentation-grid table {
  width: 100%;
}

.presentation-grid caption {
  text-align: left;
  font-weight: bold;
  padding-left: 0.2em;
}

.presentation-grid th {
  padding: 0.2em 0.5em 0em 0.2em;
  text-align: left;
  vertical-align: bottom;
}

.presentation-grid th a {
  text-decoration: none;
}

.presentation-grid td {
  padding: 0.4em 0.5em 0.4em 0.2em;
  vertical-align: top;
}

.presentation-grid ul.actions {
  overflow: auto;
  zoom: 1;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.presentation-grid ul.actions li {
  float: left;
}

.presentation-grid ul.actions li a {
  font-weight: normal;
  display: block;
  padding: 0em 0.3em;
  text-decoration: none;
}

.presentation-grid ul.actions li a:hover {
  text-decoration: underline;
}

.presentation-grid ul.actions li a {
  outline: none;
}

.presentation-grid caption ul.actions {
  margin-top: -1.2em;
  margin-right: 0.5em;
}
