.presentation-search {
  overflow: auto;
  zoom: 1;
}

.presentation-search fieldset {
  border: 0;
  margin: 0 0.5em 0 0;
  padding: 0;
  float: left;
}

.presentation-search fieldset label {
  display: block;
}

