.presentation-search {
  overflow: auto;
  zoom: 1;
}

.presentation-search fieldset {
  border: 0;
  margin: 0 0.5em 0 0;
  padding: 0;
  float: left;
}

.presentation-search fieldset label {
  font-weight: normal;
  display: inline;
}

/* for overlabels (requires javascript) */

.presentation-search .compact label {
  display: inline;
}

.presentation-search .compact fieldset {
  position: relative;
}

.presentation-search .compact fieldset label.overlabel {
  display: block;
  position: absolute;
  top: 0.2em;
  left: 0.5em;
  z-index: 1;
  cursor: text;
}
